apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: neptune-api
  namespace: neptune
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: neptune-api
  minReplicas: 2
  maxReplicas: 6
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70

