apiVersion: v1
kind: ConfigMap
metadata:
  name: neptune-web-nginx
  namespace: neptune
data:
  nginx.conf: |
    worker_processes 1;
    events { worker_connections 1024; }
    http {
      include /etc/nginx/mime.types;
      sendfile on;
      server {
        listen 80;
        server_name _;

        root /usr/share/nginx/html;

        location /api/ {
          proxy_pass http://neptune-api.neptune.svc.cluster.local:8080;
          proxy_set_header Host $host;
        }

        location / {
          try_files $uri /index.html;
        }
      }
    }

